name: JuliaFormatter

on:
  push:
    tags: '*'
  pull_request:
  merge_group:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v4
        with:
          suggestion-label: 'format-suggest' # leave this unset or empty to show suggestions for all PRs